.player {
    h4 {
        display: inline-block;
    }
    
    .first {
        background-color: transparent;
    }

    .hand {
        display: block;

        .gamecard {
            display: inline-block;
            position: relative;
            margin-left: -120px;
            z-index: 1;
            border: 1px solid black;

            &:first-child {
                margin-left: 0;
            }

            img.card_img {
                width: 150px;
            }

            &.top {
                border: 1px solid red;
                z-index: 4000;
            }
        }
    }
    &.type-computer {
        .hand {
            .gamecard {
                margin-left: -95px;

                &:first-child {
                    margin-left: 0;
                }

                img.card_img {
                    width: 100px;
                }
            }
        }
    }
}

.stock {
    justify-content: center;
    display: flex;
    column-gap: 20px;

    .stockcard {
        display: inline-flex;
        position: relative;
        z-index: 1;
        border: 1px solid black;

        img.card_img {
            width: 150px;
        }

    }
}

.playing-field {
    display: block;
    width: 500px;
    height: 400px;
    background-color: green;
    margin: 15px auto;

    .col {
        padding: 0;

        &:first-child .gamecard {
            margin-left: 80px;
            margin-top: 50px;
        }

        .gamecard {
            display: inline-block;
            // position: relative;
            // margin-left: -120px;
            // margin-top: 50px;
            // z-index: 1;
            border: 1px solid black;

            img.card_img {
                width: 150px;
            }

            &.top {
                border: 1px solid red;
                z-index: 4000;
            }
        }
    }
}